main{margin-top: 92px;}
main.common_wrap{margin-top: 132px;}
.inner{max-width: 1200px; margin: 0 auto;}
img{max-width: 100%;}
.m_hide_768{display: block;}
.title_box{font-size: 32px; font-weight: 700; margin-bottom: 44px;}

@media (max-width: 1200px) {
    .inner{width: calc(100% - 30px);}
}
@media (max-width: 768px) {
    .inner{width: calc(100% - 15px);}
    .m_hide_768{display: none !important;}
}
/*
    header
*/
#header{position: fixed; top: 0; left: 0; width: 100%; height: 92px; z-index: 100; background-color: #fff;}
#header .inner{display: flex; justify-content: space-between; align-items: center;}
#header h1 a{display: inline-block; width: 165px;}
#header h1 a img{width: 100%;}
#header .right{display: flex; justify-content: flex-end;}
#header .gnb{display: flex;}
#header .gnb > li{position: relative; display: flex; justify-content: center; align-items: center;}
#header .gnb > li > a{display: inline-block; line-height: 92px; padding: 0 30px; transition: color 0.4s ease; font-weight: 700; font-size: 18px;}
#header .gnb > li > a:hover{color: #005184;}
#header .gnb > li button{width: 110px; height: 42px; border: 1px solid #D5DBDE; font-size: 18px; font-weight: 700; color: #6E7173; border-radius: 8px; cursor: pointer;  transition: color 0.4s ease;}
#header .gnb > li button:hover{color: #005184;}
#header .gnb .depth{display: none; position: absolute; left: 50%; transform: translateX(-50%); top: 91px; width: 194px; padding: 14px 0; border: 1px solid #D5DBDE; border-radius: 8px; background-color: #fff; z-index: 9;}
#header .gnb > li:hover .depth{display: block;}
#header .gnb .depth li a{display: block; line-height: 40px; text-align: center; font-size: 18px; font-weight: 500; color: #6E7173; transition: color 0.4s ease;}
#header .gnb .depth li a:hover{color: #005184; background-color: #fafafa;}

#header .btn_hamburger{display: none; width: 32px; height: 32px;  background: url(../images/icons/ico_hamburger.svg) no-repeat center / cover;}
#header .gnb_mo{z-index: 1; position: absolute; left: 0; right: 0; top: 64px; max-height: 0; overflow: hidden; transition: max-height 0.4s ease-out; background-color: #fff;}
#header .gnb_mo > li > a{display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 18px 12px; font-size: 15px; font-weight: 700; border-top: 1px solid #E7E7E7;}
#header .gnb_mo > li > a.active{color: #005184; border-bottom: 1px solid #E7E7E7;}
#header .gnb_mo > li > a.arrow{position: relative;}
#header .gnb_mo > li > a.arrow.active:after{transform: rotate(180deg) translateY(50%);}
#header .gnb_mo > li > a.arrow::after{content: ''; position: absolute; right: 12px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url(../images/icons/ico_black_arrow.png) no-repeat center / cover; transition: transform 0.4s ease;}
#header .gnb_mo > li:last-child > a{border-bottom: 1px solid #E7E7E7;}
#header .gnb_mo .depth{max-height: 0; overflow: hidden; transition: max-height 0.4s ease-out;}
#header .gnb_mo .depth > li > a{display: block; width: 100%; padding: 12px 22px; font-size: 14px;}
#header .gnb_mo .lang{display: flex; justify-content: space-between; align-items: center;}
#header .gnb_mo .lang p{font-size: 12px; margin-left: 10px; color: #737373;}

@media (max-width: 1200px) {
    #header h1 a{display: inline-block; width: 140px;}
    #header .right{padding-right: 10px;}
    #header .gnb > li > a{display: inline-block; line-height: 80px; padding: 0 15px; font-size: 16px;}
    #header .gnb > li button{width: 80px; height: 38px; border: 1px solid #D5DBDE; font-size: 16px;}
    #header .gnb .depth{ top: 79px; width: 120px; padding: 14px 0;}
    #header .gnb .depth li a{line-height: 30px; font-size: 14px;}
}

@media (max-width: 768px) {
    #header .inner{height: 64px;}
    #header h1 a{display: inline-block; width: 110px;}
    #header .right{display: none; padding-right: 0;}
    #header a{width: 120px;}
    #header .btn_hamburger{display: block;}
}

/*
    footer
*/
#footer{padding: 40px 0 50px; border-top: 1px solid #E7E7E7;}
#footer .top{display: flex; justify-content: space-between; margin-bottom: 30px;}
#footer .top > h1{display: inline-block; width: 162px;}
#footer .top .sns{display: flex;}
#footer .top .sns li + li{margin-left: 25px;}
#footer .top .sns li a{display: inline-block; width: 32px;}
#footer .poliy{display: flex; justify-content: flex-start; align-items: center; margin-bottom: 15px;}
#footer .poliy li + li{position: relative; margin-left: 15px; padding-left: 15px;}
#footer .poliy li + li::before{content: ''; position: absolute; top: 42%; left: 0; transform: translateY(-50%); width: 2px; height: 14px; background-color: #737373;}
#footer .poliy li a{display: inline-block; font-size: 18px; line-height: 1.3em; font-weight: 700; color: #737373;}
#footer .company p{font-size: 16px; color: #737373; line-height: 1.5em;}

@media (max-width: 1200px) {
    #footer{padding: 30px 0 50px;}
    #footer .top{margin-bottom: 20px;}
    #footer .top > h1{width: 120px;}
    #footer .top .sns li + li{margin-left: 20px;}
    #footer .top .sns li a{width: 28px;}
    #footer .poliy{margin-bottom: 15px;}
    #footer .poliy li + li{position: relative; margin-left: 15px; padding-left: 15px;}
    #footer .poliy li + li::before{content: ''; position: absolute; top: 42%; left: 0; transform: translateY(-50%); width: 2px; height: 14px; background-color: #737373;}
    #footer .poliy li a{font-size: 15px;}
    #footer .company p{font-size: 14px;}
}
@media (max-width: 768px) {
    #footer{padding: 15px 0 50px;}
    #footer .top{margin-bottom: 15px;}
    #footer .top > h1{width: 100px;}
    #footer .top .sns li a{width: 24px;}
    #footer .poliy li a{font-size: 13px;}
    #footer .company p{font-size: 12px;}
}

/* search wrap */
.search_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}
.search_wrap .input_wrap{
    width: 678px;
    height: 64px;
    margin-right: 14px;
    border-radius: 18px;
    border: 1px solid #D4D4D4;
    background-color: #FBFBFB;
}
.search_wrap .input_wrap input{
    width: calc(100% - 86px);
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 500;
}
.search_wrap .input_wrap input::placeholder{
    color: #d4d4d4;
}
.search_wrap .input_wrap .filter_open_btn{
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #7b7b7b;
    padding-right: 18px;
}
.search_wrap .input_wrap .filter_open_btn::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/icons/ico_gray_arrow.svg") no-repeat center 2px / cover;
    transition: transform .15s;
}
.search_wrap .input_wrap .filter_open_btn.active::after{
    transform: rotate(-180deg);
}
.search_wrap .search_btn{
    width: 102px;
    height: 64px;
}
.search_wrap .filter_wrap{
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 50;
    transform: translateX(-50%);
    width: calc(100% - 72px);
    max-width: 1128px;
    padding: 0 52px 34px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 12px 12px rgba(219, 219, 219, 0.25);
    border-radius: 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s, visibility .15s;
}
.search_wrap .filter_wrap.show{
    opacity: 1;
    visibility: visible;
}
.search_wrap .filter_wrap .filter_group{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    padding-top: 32px;
    margin-bottom: 40px;
}
.search_wrap .filter_wrap .filter_box{
    width: 100%;
}
.search_wrap .filter_wrap .filter_box .tit{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.search_wrap .middle .middle_bottom{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_wrap .middle .range_text{
    font-size: 16px;
    font-weight: 400;
}
/* search wrap end */


/* select */
.select_wrap{
    position: relative;
    width: 100%;
    padding-bottom: 52px;
}
.select_wrap .select_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 600;
}
.select_wrap .select_btn::after{
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/icons/ico_blue_arrow.svg") no-repeat center / cover;
    transition: transform .3s;
}
.select_wrap ul{
    position: absolute;
    z-index: 10;
    max-height: 52px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #e7e7e7;
    background-color: #fafafa;
    transition: max-height .3s;
}
.select_wrap ul.show{
    max-height: 532px;
}
.select_wrap ul.show .select_btn::after{
    transform: rotate(-180deg);
}
.select_wrap ul li button{
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    text-align: left;
    transition: color .2s;
}
.select_wrap ul li button:hover{
    color: #14C7C9;
}
/* select end */


/* button style */
.btn_common{
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.btn_common.shadow,
.btn_common.btn_blue.shadow,
.btn_common.btn_green.shadow{
    transition: background-color .3s, box-shadow .3s;
}
.btn_common.btn_blue{
    background-color: #005184;
    color: #fff;
    transition: background-color .3s;
}
.btn_common.btn_blue.shadow{
    box-shadow: 2px 4px 16px rgba(0, 81, 132, 0.2);
}
.btn_common.btn_blue.shadow:hover{
    background-color: #004a78;
    box-shadow: 2px 4px 13px rgba(0, 81, 132, 0.4);
}
.btn_common.btn_green{
    background-color: #14C7C9;
    color: #fff;
    transition: background-color .3s;
}
.btn_common.btn_green.shadow{
    box-shadow: 2px 4px 16px rgba(20, 199, 201, 0.4);
}
.btn_common.btn_green.shadow:hover{
    background-color: #15bfc2;
    box-shadow: 2px 4px 13px rgba(20, 199, 201, 0.6);
}
.btn_common.btn_yellow{
    background-color: #F3C830;
    color: #fff;
    transition: background-color .3s;
}
.btn_common.btn_yellow:hover{
    background-color: #e7bf2e;
}
.btn_common.btn_gray{
    background-color: #F6F6F6;
    color: #969696;
}
.btn_common.btn_strok_white{
    border: 1px solid#D4D4D4;
    color: #7B7B7B;
    transition: background-color .3s;
}
.btn_common.btn_strok_white:hover{
    background-color: #f8f8f8;
}
.btn_common.btn_strok_gray{
    border: 1px solid#9A9FA6;
    color: #9A9FA6;
    background-color: rgba(183, 189, 200, 0.1);
    transition: background-color .3s;
}
.btn_common.btn_strok_gray:hover{
    background-color: rgba(183, 189, 200, 0.25);
}
.btn_common.btn_strok_blue{
    border: 1px solid#17C7C9;
    color: #17C7C9;
    background-color: rgba(23, 199, 201, 0.2);
}
.btn_common.btn_strok_black{
    border: 1px solid#000;
    color: #000;
    transition: background-color .3s;
}
.btn_common.btn_strok_black:hover{
    background-color: #f8f8f8;
}
/* button style end */


/* checkbox */
.checkbox_wrap{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.checkbox_wrap input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url("../images/icons/ico_check.svg") no-repeat center / cover;
    transition: background .3s;
}
.checkbox_wrap input[type="checkbox"]:checked{
    background: url("../images/icons/ico_checked.svg") no-repeat center / cover;
}
/* checkbox end */


/* multi range */
.middle {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  
  .slider {
    position: relative;
    z-index: 1;
    height: 9px;
    margin: 0 15px;
  }
  
  .slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #F2F2F2;
  }
  
  .slider > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #14C7C9;
  }
  
  .slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 26px;
    height: 26px;
    background-color: #14C7C9;
    border-radius: 50%;
  }
  
  .slider > .thumb.left {
    left: 0;
    transform: translate(-15px, -10px);
  }
  .slider > .thumb.right {
    right: 0;
    transform: translate(15px, -10px);
  }
  
  input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 9px;
    width: 100%;
    opacity: 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    -webkit-appearance: none;
  }
/* multi range end */


/* input style */
.common_txt_ipt{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: none;
    width: 100%;
    padding: 0 16px;
    border: 1px solid #ECECEC;
    border-radius: 16px;
    font-size: 16px;
    color: #000;
    box-shadow: 0px 4px 12px 12px rgba(242, 242, 242, 0.25);
    background-color: #fff;
    transition: border-color .2s;
}
.common_txt_ipt::placeholder{
    color: #7D7D7D;
    opacity: .3;
}
.common_txt_ipt:focus{
    border-color: #14C7C9;
}

.keyword_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0 16px;
    margin-top: 12px;
    margin-bottom: 24px;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 12px rgba(242, 242, 242, 0.25);
    background-color: #fff;
    transition: border-color .2s;
}
.keyword_wrap:focus-within{
    border-color: #14C7C9;
}
.keyword_list{
    display: flex; 
    gap: 8px;
    margin-right: 8px;
}
.keyword_list .keyword{ 
    display: flex;
    align-items: center;
    gap: 4px;
    height: 30px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}
.keyword_list .keyword span{
    white-space: nowrap;
} 
.keyword_list .keyword i{
    width: 16px;
    height: 16px;
}
.common_keyword_ipt{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #000;
}

.number_ipt_wrap{
    position: relative;
}
.number_ipt_wrap .num_txt{
    position: absolute;
    right: 0;
    top: -24px;
    font-size: 16px;
    font-weight: 400;
    color: #7d7d7d;
}
.number_ipt_wrap input[type="number"]{
    width: 100%;
    height: 68px;
    padding: 0 40px 0 16px;
    border: 1px solid #ececec;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    box-shadow: 0px 4px 12px 12px rgba(242, 242, 242, 0.25);
    transition: border-color .2s;
}
.number_ipt_wrap input[type="number"]:focus{
    border-color: #14C7C9;
}
.number_ipt_wrap .num_ipt_down_btn,
.number_ipt_wrap .num_ipt_up_btn{
    position: absolute;
    right: 16px;
    z-index: 1;
    width: 12px;
    height: 8.25px;
    background: url("../images/icons/ico_num_arrow.svg") no-repeat center / cover;
}
.number_ipt_wrap .num_ipt_down_btn{
    transform: rotate(180deg);
    bottom: 27.5%;
}
.number_ipt_wrap .num_ipt_up_btn{
    right: 16px;
    top: 27.5%;
}


.file_ipt_wrap{
    /* margin-top: 76px; */
    margin-top: 12px;
    position: relative;
}
label.file_ipt_btn{
    /* position: absolute; */
    /* right: 0; */
    /* top: -76px; */
    width: 224px;
    height: 64px;
}
.file_ipt_wrap input[type="file"]{
    display: none;
}
.file_ipt_wrap .file_list{
    min-width: 720px;
    min-height: 64px;
    padding: 24px 33px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 12px 12px rgba(242, 242, 242, 0.25);
    border-radius: 20px;
}
.file_ipt_wrap .file_list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: #7D7D7D;
}
.file_ipt_wrap .file_list li span{
    display: block;
    white-space: nowrap;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.file_ipt_wrap .file_list li:not(:last-child){
    margin-bottom: 8px;
}
/* input style end */



