/* search wrap */
.search_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search_wrap .input_wrap{
    width: 678px;
    height: 64px;
    margin-right: 14px;
    border-radius: 18px;
    border: 1px solid #D4D4D4;
    background-color: #FBFBFB;
}
.search_wrap .input_wrap input{
    width: calc(100% - 86px);
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 500;
}
.search_wrap .input_wrap input::placeholder{
    color: #d4d4d4;
}
.search_wrap .input_wrap button{
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #7b7b7b;
    padding-right: 18px;
}
.search_wrap .input_wrap button::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/icons/ico_gray_arrow01.svg") no-repeat center 2px / cover;
}
.search_wrap .search_btn{
    width: 102px;
    height: 64px;
}
.search_wrap .filter_wrap{
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 10;
    transform: translateX(-50%);
    width: calc(100% - 72px);
    max-width: 1128px;
    padding: 0 52px 34px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 12px 12px rgba(219, 219, 219, 0.25);
    border-radius: 24px;
}
.search_wrap .filter_wrap .filter_group{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    padding-top: 32px;
    margin-bottom: 40px;
}
.search_wrap .filter_wrap .filter_box{
    width: 100%;
}
.search_wrap .filter_wrap .filter_box .tit{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.search_wrap .middle .middle_bottom{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_wrap .middle .range_text{
    font-size: 16px;
    font-weight: 400;
}
/* search wrap end */


/* select */
.select_wrap{
    position: relative;
    width: 100%;
    padding-bottom: 52px;
}
.select_wrap .select_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
}
.select_wrap .select_btn::after{
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/icons/ico_blue_arrow01.svg") no-repeat center / cover;
    transition: transform .3s;
}
.select_wrap ul{
    position: absolute;
    max-height: 52px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #e7e7e7;
    background-color: #fafafa;
    transition: max-height .3s;
}
.select_wrap ul.show{
    max-height: 532px;
}
.select_wrap ul.show .select_btn::after{
    transform: rotate(-180deg);
}
.select_wrap ul li button{
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    text-align: left;
}
/* select end */


/* button */
.btn_common{
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.btn_common.btn_blue{
    background-color: #005184;
    color: #fff;
    transition: background-color .3s, box-shadow .3s;
}
.btn_common.btn_blue.shadow{
    box-shadow: 2px 4px 16px rgba(0, 81, 132, 0.2);
}
.btn_common.btn_blue.shadow:hover{
    background-color: #004a78;
    box-shadow: 2px 4px 13px rgba(0, 81, 132, 0.4);
}
/* button end */


/* checkbox */
.checkbox_wrap{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.checkbox_wrap input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url("../images/icons/ico_check.png") no-repeat center / cover;
    transition: background .3s;
}
.checkbox_wrap input[type="checkbox"]:checked{
    background: url("../images/icons/ico_checked.png") no-repeat center / cover;
}
/* checkbox end */


/* multi range */
.middle {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  
  .slider {
    position: relative;
    z-index: 1;
    height: 9px;
    margin: 0 15px;
  }
  
  .slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #F2F2F2;
  }
  
  .slider > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #14C7C9;
  }
  
  .slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 26px;
    height: 26px;
    background-color: #14C7C9;
    border-radius: 50%;
  }
  
  .slider > .thumb.left {
    left: 0;
    transform: translate(-15px, -10px);
  }
  .slider > .thumb.right {
    right: 0;
    transform: translate(15px, -10px);
  }
  
  input[type="range"] {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 9px;
    width: 100%;
    opacity: 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
  }
/* multi range end */