body{
    overflow-x: hidden;
}
/* section visual */
.visual{
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
}
.visual .visual_txt_wrap{
    text-align: center;
}
.visual .visual_txt_wrap .tit{
    margin-bottom: 24px;
    font-size: 80px;
    font-weight: 600;
    line-height: 96px;
}
.visual .visual_txt_wrap .tit .fc_blue{
    color: #005184;
}
.visual .visual_txt_wrap .txt {
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: 500;
    color: #797D83;
}
.visual .visual_txt_wrap .btn_common {
    margin: 0 auto;
    width: 190px;
    height: 64px;
    font-size: 20px;
}

.visual .visual_deco_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.visual .visual_deco_wrap i{
    position: absolute;
    display: block;
    border-radius: 50%;
}
.visual .visual_deco_wrap i:nth-of-type(1){
    top: 192px;
    left: 11.5625%;
    width: 170px;
    height: 170px;
    background: #B67BB3;
    opacity: 0.1;
    filter: blur(6px);
    animation: fluffy_anim ease-in-out 1.35s infinite alternate;
}
.visual .visual_deco_wrap i:nth-of-type(2){
    bottom: -304px;
    left: -5.83333%;
    width: 345px;
    height: 345px;
    background: #14C7C9;
    opacity: 0.5;
    filter: blur(20px);
    animation: fluffy_anim ease-in-out 1.35s infinite alternate-reverse;
}
.visual .visual_deco_wrap i:nth-of-type(3){
    top: 286px;
    right: -2.65625%;
    width: 298px;
    height: 298px;
    background: #BBE477;
    opacity: 0.2;
    filter: blur(10px);
    animation: fluffy_anim ease-in-out 1.35s infinite alternate-reverse;
}
.visual .visual_deco_wrap i:nth-of-type(4){
    bottom: -406px;
    right: 13.75%;
    width: 326px;
    height: 326px;
    background: #14C7C9;
    opacity: 0.1;
    filter: blur(10px);
    animation: fluffy_anim ease-in-out 1.35s infinite alternate;
}
@keyframes fluffy_anim{
    0%{
        transform: translateY(7%);
    }
    100%{
        transform: translateY(-5%);
    }
}
/* section visual end */


/* section video */

.video .slide_wrap .swiper-wrapper{
    transition-timing-function : linear;
}
.video .slide_wrap li{
    width: 487px; 
    height: 273px;
}
/* .video .slide_wrap li + li{margin-left: 30px;} */
.video .slide_wrap li:nth-child(3n + 1){margin-left: 0;}
.video .slide_wrap .item{
    display: block; 
    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 32px; 
}
.video .slide_wrap .item .thumb_box{
    position: relative;
    width: 100%;
    height: 100%;
}
.video .slide_wrap .item .thumb_box img{
    width: 100%;
    height: 100%;
}
.video .slide_wrap .item .thumb_box video{display: none; position: absolute; left: 0; right: 0; top:0; bottom: 0;}
.video .slide_wrap .item .thumb_box video.on{display: block;}
.video .slide_wrap .item .text_box{position: absolute; left: 0; right: 0; bottom: 0; padding: 10px 0; }
.video .slide_wrap .item .text_box p{font-size: 20px; color: #fff; text-align: center; font-weight: 300;}

/* section video end */