.mb_0{margin-bottom: 0 !important;}
.search_result_detail .sec_info .info_warp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search_result_detail .sec_info .thumb_area{
    max-width: 710px;
}

.search_result_detail .sec_info .video_box{
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 40px;
}
.search_result_detail .sec_info .keyword_box h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.search_result_detail .sec_info .keyword_list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.search_result_detail .sec_info .keyword_list li{
    margin: 0 8px 8px 0;
}

.search_result_detail .sec_info .keyword_list a{
    display: inline-block;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 8px;
}

.search_result_detail .sec_info .info_area{
    width: 463px;
}
.search_result_detail .sec_info .user_box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
    border:1px solid #ECECEC;
    margin-bottom: 8px;
}
.search_result_detail .sec_info .user_box .profile{
    width: 60px;
    margin-right: 15px;
}
.search_result_detail .sec_info .user_box > ul{
    width: 100%;
}
.search_result_detail .sec_info .user_box > ul > li{
    display: flex;
    justify-content: space-between;
}
.search_result_detail .sec_info .user_box > ul > li + li{
    margin-top: 10px;
}
.search_result_detail .sec_info .user_box > ul > li span{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
.search_result_detail .sec_info .user_box > ul > li p{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}  
.search_result_detail .sec_info .info_box{
    border-radius: 24px;
    border: 1px solid #ECECEC;
    padding: 24px;
    margin-bottom: 24px;
}
.search_result_detail .sec_info .summary_list{
    display: flex;
    margin-bottom: 30px;
}
.search_result_detail .sec_info .summary_list li{
    position: relative;
    font-size: 16px;
    color: #7B7B7B;
}
.search_result_detail .sec_info .summary_list li + li{
    margin-left: 18px;
    padding-left: 18px;
}
.search_result_detail .sec_info .summary_list li + li::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7B7B7B;
}
.search_result_detail .sec_info .info_list{
    width: 100%;
}
.search_result_detail .sec_info .info_list > li{
    display: flex;
    justify-content: space-between;
}
.search_result_detail .sec_info .info_list > li + li{
    margin-top: 20px;
}
.search_result_detail .sec_info .info_list > li > span{
    font-size: 20px;
    font-weight: 700;
}
.search_result_detail .sec_info .info_list > li > p{
    font-size: 20px;
}
.search_result_detail .sec_info .info_list dl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;

}
.search_result_detail .sec_info .info_list dl dt{
    width: 50%;
    color: #7B7B7B;
    font-weight: 500;
    margin-bottom: 16px;
}
.search_result_detail .sec_info .price_box{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}
.search_result_detail .sec_info .btn_box button{
    display: inline-block;
    height: 64px;
}
.search_result_detail .sec_info .btn_box button.buy{
    display: block;
    width: 100%;
    margin-bottom: 16px;
}
.search_result_detail .sec_info .btn_box button.cart{
    width: 223px;
}
.search_result_detail .sec_info .btn_box button.preview{
    width: 223px;
    margin-left: 12px;
}

.search_result_detail .sec_add{
    padding: 60px 0 52px;
    background-color: #F9FAFC;
}

.search_result_detail .sec_add .inner{
    display: flex;
    justify-content: flex-start;
}
.search_result_detail .sec_add .title{
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.search_result_detail .sec_add .video_list{
    display: flex; 
    flex-wrap: wrap;
    width: 710px;
}
.search_result_detail .sec_add .video_list li{
    width: calc((100% - 24px) / 3); 
    margin-bottom: 10px;
}
.search_result_detail .sec_add .video_list li + li{
    margin-left: 12px;
}
.search_result_detail .sec_add .video_list li:nth-child(3n + 1){
    margin-left: 0;
}
.search_result_detail .sec_add .video_list .item{
    position: relative; 
    display: block; 
    border-radius: 16px; 
    overflow: hidden;
}
.search_result_detail .sec_add .video_list .item .thumb_box{
    position: relative;
}

.search_result_detail .sec_add .video_list .item.loader .thumb_box::before{
    content: '';
    position: absolute;
    left: 42%;
    top: 38%;
    transform: translate(-50%, -50%);
    background: url(../images/icons/ico_loader_logo.svg) no-repeat center / cover;
    width: 38px;
    height: 35px;
    animation: rotate 10s infinite;
    z-index: 2;
}
@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
.search_result_detail .sec_add .video_list .item .thumb_box video{
    display: none; 
    position: absolute; 
    left: 0; 
    right: 0;
    top:0; 
    bottom: 0;
}
.search_result_detail .sec_add .video_list .item .thumb_box video.on{
    display: block;
}
.search_result_detail .sec_add .video_list .item .text_box{
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    padding: 10px 0; 
}
.search_result_detail .sec_add .video_list .item .text_box p{
    font-size: 16px; 
    color: #fff; 
    text-align: center; 
    font-weight: 300;
}
.search_result_detail .sec_add .map_box{
    margin-left: 40px;
}
.search_result_detail .sec_add .map_box .map{
    width: 358px;
    height: 397px;
    background-color: #fff;
    border-radius: 16px;
    margin-left: 50px;
}